/* .form {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
} */


label {
    display: block;
    
}

label:not(:first-child) {
    margin: 16px 0 4px 0;
}

input, textarea {
    width: 100%;
    display: block;
    appearance: none;
    padding: 0.5em;
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 20px;
    color: #105689;
}

textarea {
    resize: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

input:focus, textarea:focus {
    outline: 0.5px solid #105689;
}

.form input:not(input[type="submit"]), .form textarea {
    width: 100%;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

input[type="submit"] {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #105689;
    color: #fff;
}