.card-wrapper {
    width: 100%;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.card-item {
    width: 100%;
    background-color: grey;
}