html, body {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  flex: 1;
  background-color: #f6f6f6;
}

.card-wrapper {
  flex: 4;
}