.header {
    padding: 0 24px;
    background-color: #fff;
}

.header-top {
    width: 100%;
    height: 60px;
    background-color: aquamarine;
}

.header-bottom {
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
}