.header {
    padding: 0 24px;
}

.header-top {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-top_logo {
    padding: 2rem 0;
}

.header-bottom {
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
}