.sorting-btn {
    background-color: #62A1FF;
    color: #fff;
    padding: 20px 12px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 16px;
}